/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }

  img.burger-pic, img.user-pic {
    width: 50px; /* Här vill jag ha en annan meny!*/
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }

  img.burger-pic, img.user-pic {
    width: 50px;
  }
}

@media (max-width: 479px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }

  img.burger-pic, img.user-pic {
    width: 25px;
  }

  .topnav a:not(:first-child) {
    /* Ska sedan vara topnav */
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}


/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- navbar ---- */

div.navbar {
  display: flex;
  justify-content: space-between;
}

/* ---- section ---- */
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: grey;
}

.active {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}